section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .text__text We are added our major Services
        .corob
            ul.about__list
                li.about__item
                    .icon.icon-like
                    h3.about__header Facebook Marketing
                    p.about__description Lorem ipsum dos dololes Lorem ipsum dos dololes Lorem ipsum dos dololes


            ul.about__list
                li.about__item
                    .icon.icon-book
                    h3.about__header Facebook Marketing
                    p.about__description Lorem ipsum dos dololes

            ul.about__list
                li.about__item
                    .icon.icon-message
                    h3.about__header Facebook Marketing
                    p.about__description Lorem ipsum dos dololes